<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mkaktusow">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Kaktusy"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MKaktusow">

        <activity
            android:name=".View.JedenKaktusTL"
            android:parentActivityName=".View.Kaktusy"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.API_KEY"
            android:value="AIzaSyBULXrC9MeyuYsylDttvrU4FgKZUhCI1pc" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBULXrC9MeyuYsylDttvrU4FgKZUhCI1pc" />
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="label" />
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ica" />
        <activity
            android:name=".View.Mapa"
            android:exported="false" />
        <activity
            android:name=".View.JednaNotatka"
            android:exported="false"
            android:parentActivityName=".View.Notatki" />
        <activity
            android:name=".View.JedenKaktus"
            android:exported="false"
            android:parentActivityName=".View.Kaktusy" />
        <activity
            android:name=".View.NowyKaktus"
            android:exported="false"
            android:label="Nowy kaktus"
            android:parentActivityName=".View.Kaktusy" />
        <activity
            android:name=".View.NowaNotatka"
            android:exported="false"
            android:label="Nowa notatka"
            android:parentActivityName=".View.Notatki" />
        <activity
            android:name=".View.Encyklopedia"
            android:exported="false"
            android:label="Encyklopedia" />
        <activity
            android:name=".View.Notatki"
            android:exported="false"
            android:label="Notatki" />
        <activity
            android:name=".View.Kaktusy"
            android:exported="true"
            android:label="Kaktusy">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>